.main_estados{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_estados{
    background-color: #e31010;
    border-radius: 0px 20px 20px 0px;
    padding: 20px;
    color: #ffffff;
    box-shadow: 2px 2px 20px 2px  #838383;
    
}

.ul_estados{
    font-size: 17px;
}

p{
    text-align: center;
}

.img_finance{
    width: 25vw;
    height: 50vh;
    border: 1px solid #cfcccc;
    box-shadow: 2px 2px 20px 2px  #b8b8b8;
    border-radius: 10px 0px 0px 10px;
}

@media (max-width: 768px) {

    .img_finance{
        display: none;
    }

    .card_estados{
        border-radius: 10px;
        width: 80vw;
    }
}